<html>
    <head>
        <title>
            <%= title %>

        </title>
        <link rel="stylesheet" href="/css/home.css">
    </head>

    <body>

        <div>
            <h1> My TODO List </h1>


        </div>

        <script type="text/javascript" src="/js/home.js"></script>
    </body>
</html>